<html layout:decorator="base">
	<section layout:fragment="content">	
		
			<h5>Password change:</h5>  
			<p>
				On successful change, you will be signed out to test your new password.
			</p>

    
					<form class="form-horizontal" action="#" th:action="@{/change_password}" th:object="${request}" method="post">	
  					    					
    					
					    <div class="row">	
					    
					    	<div class="col s4">
						    	<div class="input-field">
						    		<i class="small material-icons prefix">mode_edit</i>
							    	<label class="active" for="old">Old password</label>
							    	<input type="password" name="old" />
						    	</div>
					    	</div>
					    	
					    	<div class="col s3">
						    	<div class="input-field">
							    	<label class="active" for="new1">New password</label>	
									<input type="password" name="new1" />
								</div>
							</div>
							
							<div class="col s4">
						    	<div class="input-field">	
									<label class="active" for="new2">Confirm new password</label>
									<input type="password" name="new2" />	  
								</div>
							</div>
							
			
					    	<div class="col s1">
						        <div class="form-actions">
						        	<input class="btn-large red" type="submit" value="change" />
						        </div>
					        </div>
					        
					     </div>
				        
				    </form>

	    
    </section>

</html>
 
