<!DOCTYPE HTML>
<html>

	<head> 	
		<div th:include="style"> style </div>		 	
	    <title>Verify your email</title>	    
	</head>
	
	<body class="container blue-grey">
	
		<div class="row">
				<div class="col s8 offset-s2">
				
					<div class="card amber">
	  					<div class="card-content black-text">
		  					<span th:include="_warnings"> warnings </span>
						    <h5>We send you an email with the verification code, please enter it here to continue: </h5>  
						        
						    <form class="form-horizontal" action="#" th:action="@{/email_confirm}" th:object="${code}" method="post">
					
						    	<input type="text" id="code"  name="code"/>
						       	
						        <div class="form-actions center">
						        	<input class="btn-large green" type="submit" value="Submit" />
						        </div>
						        
						    </form>
						 </div>
					    
					</div>
			   </div>
		</div>
	    
	</body>

</html>